@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{

    body{

            @apply bg-blue-200; /* Change 'blue-500' to your desired color */

    }
}
/* For Chrome, Safari and Opera */
::-webkit-scrollbar {
    width: 15px;  /* Width of the scrollbar */
    
}

::-webkit-scrollbar-track {
    background: #f1f1f1;  /* Color of the tracking area */
    border-radius: 10px; /* Change this to your desired radius */

}

::-webkit-scrollbar-thumb {
    background: #888;  /* Color of the scroll thumb */
    border-radius: 10px; /* Change this to your desired radius */

}

::-webkit-scrollbar-thumb:hover {
    background: #555;  /* Color of the scroll thumb on hover */
    border-radius: 10px; /* Change this to your desired radius */

}

/* For Firefox */
body {
    scrollbar-width: thin;  /* "auto" or "thin"  */
    scrollbar-color: blue orange;  /* scroll thumb and track */
}